##-------------------------------------
##   Bundle Template
##-------------------------------------
<HTML>
<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
  <TR BGCOLOR="${hints.getLabelColorAs16String()}">
    <TD NOWRAP>${model.getOrderName()}）</TD>
    <TD WIDTH="${hints.getWidth()}">${stampName}</TD>
  </TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
  <TR>
    <TD VALIGN="top">・</TD>
    <TD WIDTH="${hints.getWidth()}">${model.getItemNames()}</TD>
    <TD> </TD>
  </TR>
#if ($model.getMemo())
  <TR>
    <TD>　</TD>
    <TD WIDTH="${hints.getWidth()}>$!{model.getMemo()}</TD>
    <TD> </TD>
  </TR>
#end

</TABLE>	
</BODY></HTML>