##-------------------------------------
##   Bundle Template
##-------------------------------------
<HTML><BODY>
<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
  <TR BGCOLOR="${hints.getLabelColorAs16String()}">
    <TD NOWRAP>${model.getOrderName()}）</TD>
    <TD WIDTH="${hints.getWidth()}">${stampName}</TD>
  </TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
#foreach ($item in $model.getClaimItem())
  <TR>
#if ($item.getNumber())
    <TD VALIGN="top">・</TD>
    <TD WIDTH="${hints.getWidth()}">${item.getName()}</TD>
    <TD ALIGN="right" VALIGN="bottom" NOWRAP>${item.getNumber().replaceAll("[^0-9]0$","")} $!{item.getUnit()}</TD>
    <TD> </TD>
#else
    <TD VALIGN="top">・</TD>
    <TD WIDTH="${hints.getWidth()}">${item.getName()}</TD>
    <TD COLSPAN="2">　</TD>
#end
  </TR>
#end

#if ($model.getMemo())
  <TR>
    <TD NOWRAP>　</TD>
    <TD COLSPAN="2">$!{model.getMemo()}</TD>
    <TD> </TD>
  </TR>
#end

</TABLE>	
</BODY></HTML>
