##-------------------------------------
##         RP Template    
##-------------------------------------
<HTML><BODY>

## タイトル部分
<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
  <TR BGCOLOR="${hints.getLabelColorAs16String()}">
    ## 院内・院外処方は１行目の右端に表示する masuda
    <TD VALIGN="top">RP）</TD>
    <TD VALIGN="top" WIDTH="${hints.getWidth()}">${stampName}</TD>
    <TD ALIGN="right" VALIGN="bottom" NOWRAP>
      <FONT SIZE="-2">
        $!{model.getMemo().replace("処方", "")}
      </FONT>
    </TD>
  </TR>
</TABLE>

## 項目部分
<TABLE BORDER="0" CELLPADDING="1" CELLSPACING="0">
#foreach ($item in $model.getClaimItem())
  ## コメントコードなら"・"と"x"は表示しない masuda
  <TR>
#if ($item.getCode().matches("0085[0-9]{5}") || $item.getCode().matches("001000[0-9]{3}") || $item.getCode().matches("0992099[0-9]{2}"))
    <TD>　</TD>
    <TD COLSPAN="3" WIDTH="${hints.getWidth()}">${item.getName()}</TD>
    <TD> </TD>
#elseif ($item.getCode().matches("810000001"))
    <TD>　</TD>
    <TD COLSPAN="3" WIDTH="${hints.getWidth()}"><FONT COLOR=${hints.getCommentColorAs16String()}>${item.getName()}</FONT></TD>
    <TD> </TD>
#else
    <TD VALIGN="top" WIDTH="12">・</TD>
    <TD WIDTH="${hints.getWidth()}">${item.getName()}</TD>
    <TD ALIGN="right" VALIGN="bottom" NOWRAP>$!{item.getNumber()}</TD>
    <TD ALIGN="right" VALIGN="bottom" NOWRAP>$!{item.getUnit()} </TD>
    <TD> </TD>
#end
  </TR>

#end

## 用法部分
  <TR>
    <TD>　</TD>
#if ($model.getAdminDisplayString().contains("x"))
    <TD WIDTH="${hints.getWidth()}">${model.getAdminDisplayString().replaceAll("x.*$","")}</TD>
    <TD COLSPAN="2" NOWRAP>${model.getAdminDisplayString().replaceAll("^.*x","")}</TD>
#else
    <TD COLSPAN="3" WIDTH="${hints.getWidth()}">${model.getAdminDisplayString()}</TD>
#end
    <TD> </TD>
  </TR>

#if ($model.getAdminMemo())
  <TR>
    <TD>　</TD>
    <TD WIDTH="${hints.getWidth()}">${model.getAdminMemo()}</TD>
    <TD>$!{model.getMemo()}</TD>
    <TD> </TD>
  </TR>
#end

</TABLE>
</BODY></HTML>