##-------------------------------------
##         RP Template    
##-------------------------------------
#foreach ($item in $model.getClaimItem())
#if (!$item.getCode().matches("0085[0-9]{5}") && !$item.getCode().matches("001000[0-9]{3}") && !$item.getCode().matches("810000001"))
${item.getName()}    $!{item.getNumber()} $!{item.getUnit()}　
#else
${item.getName()}　
#end
#end
${model.getAdminDisplayString()}

